.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 40%;
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.scroll-form {
  height: 20vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.authentication form {
  margin-bottom: 1rem;
}

.switch-buttons {
  font-weight: bold;
  font-size: 120%;
  background-color: #ffc48a;
}

.switch-buttons:hover {
  background-color: #ffc48a;
  border-color: #ffc48a;
}

.switch-buttons:active {
  background-color: #404040;
}

.submit-button {
  background-color: #ffc48a;
  border-color: #ffc48a;
}
