.filter-input {
  width: 66%;
  margin: auto;
  border: 1px solid #404040;
  border-radius: 4px;
}

.search-icon__background {
  background-color: #404040;
}

.search-icon {
  color: #ffb266;
  -webkit-text-stroke: 0.5px #a0a0a0;
}
